= simple_nested_form_for [ :admin, @territory, @business_listing ], :html => { :multipart => true } do |f|

  = render "admin/common/errors", { :f => f }

  .title
    %h1
      - if f.object.new_record?
        Add a Business Listing
      - else
        Edit Business Listing
    - if !f.object.new_record?
      %h2
        = @business_listing.name
    .tip
      %p
        Please fill out the following form completely to
        = f.object.new_record? ? "add a new" : "edit this"
        business listing.
      Fields marked
      %abbr(title="required")
        *
      required

  = f.hidden_field :territory_id

  - if current_user.is_global_admin? || current_user.is_territory_admin_for?( @business_listing.territory )
    .fieldset
      %h3 Member Information
      = f.input :user_proxy, :required => true, :as => :string, :label => "Listing Member"
      %span.hint(class="#{f.object.errors && !f.object.errors[:user_id].blank? ? 'error' : ''}")
        IMPORTANT: Type in an existing User's name or email in your territory for a list of matching names, or use yourself temporarily, until you set up a new user for your business member. This is a required field.
      %br
      = f.hidden_field :user_id

  .fieldset
    %h3 Listing Details / Information
    - if current_user.is_global_admin? || current_user.is_territory_admin_for?( @business_listing.territory )
      = f.input :package_type, :collection => BusinessListing::VALID_PACKAGE_TYPES, :hint => "Make sure you understand the differences and limitations of each type. <a href='http://www.relylocal.com/forum/viewtopic.php?f=19&t=236' target='_blank'>view tutorial</a>".html_safe
      = f.input :expires, :as => :string, :hint => "Expired listings will appear on your summary page and no longer be publicly visible", :input_html => { :class => "datepicker", :size => 10 }
      = f.input :business_tier, :collection => BusinessListing::VALID_BUSINESS_TIERS, :prompt => false, :hint => "Help users understand just how 'local' your members are. <a href='http://www.relylocal.com/forum/viewtopic.php?f=19&t=237' target='_blank'>view tutorial</a>".html_safe

    = f.input :name, :hint => "Be sure to include descriptive/relevant subtitles - 'Bob\'s Bakery and Cafe' instead of just 'Bob\'s (255 character limit)"
    = f.input :short_description, :as => :text, :input_html =>  { :rows => 3, :cols => 50 }, :hint => "Will appear in search results and homepage lists. Be sure to include relevant SEO keyphrases (255 character limit)"
    = f.input :long_description, :input_html =>  { :rows => 3, :cols => 50, :class => "wysiwyg" }, :hint => "Clarity, consistency, and simplicity are appreciated by users and search engines alike. Try not to go overboard in designing extremely involved custom pages for your clients unless you are a professional designer. In short, error on the side of caution. Also, be very careful when copying/pasting from external sites, as you could bring over 'hidden' HTML tags that may conflict with your pages. (We recommend first pasting into a plain-text editor like Notepad or Text Edit, then re-copying before pasting here.)"
    = f.input :tag_list, :label => "Keyword Tags", :hint => "Enter keywords separated by comma's for any word(s) which are not located in the title, short or long description of your listing. This will help with search engine optimization along with searches performed on your local community. Example: You have a business named Trinity Electric and you want this business to show up in searches using the keyword electrician which does not appear in the title, short or long description. By entering a string of keywords such as electrician, electricians, electrical, wiring, lighting this listing will now show-up in keyword searches."
    = f.input :published, :label => "Published?", :hint => "Business Listings can be shown (published) or hidden (un-published) from the user site. If checked, this listing will be published (shown) on the user facing site."
    = f.input :show_default_banners_only, :label => "Show Default Banners Only?", :hint => "Selecting this will limit the ads shown on the detail listing page for this listing to only be the default ads."

  .fieldset
    %h3 Mobile Options
    = f.input :mobile_friendly_description,
      :input_html =>  { :rows => 3, :cols => 50, :class => "wysiwyg-light" },
      :hint => "The simpler the better! Because mobile devices have varying screen size and bandwidth limitations, we can not simply \"force\" the Long Description into the mobile applications (that may contain images, videos, tables, etc...). As a result, please provide a mobile-friendly (simplified) plain text description for the business here, using only the available Bold, Italic, and Underscore options. Be sure to test the result on your mobile devices (remembering that each device renders things differently).  Note: If this field is left blank, the applications will automatically re-use the Short Description field."
    - if !f.object.new_record? && !f.object.mobile_logo.url(:normal).nil?
      = image_tag f.object.mobile_logo.url(:normal)
    = f.input :mobile_logo, :as => :file, :hint => "These icons will be used if a user bookmarks a business listing WebApp to their device's home screen (to act as a standalone \"app\"). Mobile icons must be exactly 114x114. No effects or shadows are needed, as this is handled by the mobile device. Acceptable file types: .jpg, .gif, and, .png"

  .fieldset
    %h3 Meet The Leader
    - if !f.object.new_record? && !f.object.owner_photo.url(:normal).nil?
      = image_tag f.object.owner_photo.url(:normal)
    = f.input :owner_photo, :as => :file, :hint => "Please upload a jpg, gif, or png in the proper dimensions (140 pixels wide x 160 pixels tall)", :label => "Leader Photo"
    = f.input :owner_name, :hint => "Please enter the name (s) of the leader(s) of this business.", :label => "Leader Name(s)"
    = f.input :owner_bio, :as => :text, :hint => "Please enter a few short sentences about the leader(s), why they started their business, and how they are involved with the community, local businesses, and RelyLocal.", :input_html => { :class => "wysiwyg-light" }, :label => "Leader Bio"

  .fieldset
    %h3
      Categories
      .hint
        We recommend at least two categories. Tip: Some territories are able to charge additional fees to include listings in additional categories.
    = f.simple_fields_for :business_listing_categories do |f_categories|
      = f_categories.association :category, :collection => category_options, :include_blank => "--- Select Category ---"
      = f_categories.link_to_remove "Remove Category"
    = f.link_to_add "Add Category", :business_listing_categories

  .fieldset
    %h3
      Location Information
      .hint
        Important: Please be absolutely sure that the listing is located within your officially licensed territory, or as part of a partnership with an existing neighboring territory. Failure to do so may put you in breach of contract.

    = f.simple_fields_for :address do |f_address|
      = render "admin/common/address", :f => f_address, :validate => !f_address.object.skip_validations
    = f.input :hide_address
    = f.input :hide_map, :hint => "Some business may be home-based or without a public location and wish to be 'hidden'"

  .fieldset
    %h3 Other Information
    = f.input :operating_hours, :as => :text, :input_html =>  { :rows => 3, :cols => 50 }
    = f.input :phone, :hint => "Please use the following format (212) 555-1234"
    = f.input :fax
    = f.input :email
    = f.input :skype
    = f.input :reward_reseller,
      :label => "Local Rewards reseller",
      :hint => "Check if this listing sells the RelyLocal Local Rewards Card"

  - you_tube_type = LinkType.find_by_name "YouTube"
  .fieldset
    %h3 Social Media/Web Links
    = f.simple_fields_for :non_you_tube_links do |f_links|
      = f_links.input :url
      = f_links.association :link_type, :collection => ( LinkType.all - [ you_tube_type ] ), :include_blank => false
      = f_links.link_to_remove "Remove Link"
    = f.link_to_add "Add Link", :non_you_tube_links

  .fieldset
    %h3 YouTube Links
    = f.simple_fields_for :you_tube_links do |f_links2|
      = f_links2.input :url, :hint => "Paste the URL for a YouTube clip here. Please note that the link must be to an active/valid clip, following the correct format: http://www.youtube.com/watch?v=XXXXXX No \"user\" pages, or \"channels\" here, please."
      =# f_links2.association :link_type
      = f_links2.hidden_field :link_type_id, :value => you_tube_type.id
      = f_links2.link_to_remove "Remove Link"
    = f.link_to_add "Add You Tube Link", :you_tube_links

  .fieldset
    %h3 Logo
    - if !f.object.new_record? && !f.object.logo.url(:normal).nil?
      = image_tag f.object.logo.url(:normal)
    = f.input :logo, :as => :file, :hint => "Logos must be of reasonable size and will be automatically re-sized for various display through the site. Acceptable file types: .jpg, .gif, and, .png"

  - if !f.object.new_record? && !f.object.legacy_coupons.empty?
    .fieldset
      %h3 Legacy Coupons
      = f.simple_fields_for :legacy_coupons do |f_lc|
        = f_lc.object.legacy_coupon
        = f_lc.link_to_remove "Remove Legacy Coupon"

  .submit
    .buttons
      = f.submit submit_label( f )

- content_for :css_includes do
  = stylesheet_link_tag "css/custom-theme/jquery-ui-1.8.7.custom.css"

- content_for :js_includes do
  = javascript_include_tag "jquery-ui-1.8.7.custom.min"
  = javascript_include_tag "jquery.initAutoComplete"

:javascript
  $( function() {
    var e = $( '#business_listing_package_type' );
    if ( e.val() != "#{BusinessListing::VALID_PACKAGE_TYPES[1]}" ) {
      $( '#business_listing_expires' ).parent( "div" ).hide();
    }
    $( ".datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
  } );

  $( '#business_listing_package_type' ).change( function() {
    var e = $( '#business_listing_package_type' );
    if ( e.val() == "#{BusinessListing::VALID_PACKAGE_TYPES[1]}" ) {
      $( '#business_listing_expires' ).parent( "div" ).show();
    }
    else {
      $( '#business_listing_expires' ).parent( "div" ).hide();
    }
  } );

  // Use Standard Autocomplete
  $('#business_listing_user_proxy').initAutoComplete({
    target_field:"#business_listing_user_id",
    url: '#{polymorphic_path([:admin, @territory, User], :format => "json")}',
    target_field_value: 'id'
  });

