<div class="custom-content">
  <h1>Promoting Local Businesses</h1> 
  <p>The main reason we launched RelyLocal in <%=@territory.blank? ? "your area" : @territory.name%> was to help the &quot;little guys&quot; (and gals) compete! With national chains and web-based replacements spending as much as $2 million in marketing <em><strong>every day</strong></em>, it is no wonder that many of our local companies are having trouble connecting with new customers through all of the noise. Especially in this economy, we began  to see more and more established businesses slowly disappear while many new local businesses didn't know how to get started and get their name in front of new customers. Budgets are tight and many businesses think that the first cut should always be in advertising.. They are wrong! But, don't just take <em>our</em> word for it...</p> 
  <blockquote><em>&quot;Stopping advertising to save money is like stopping a clock to save  time.&quot; - <a href="http://www.relylocal.com/blog/quote/henry-ford-genius/" target="_new">Henry Ford</a></em></blockquote> 
  <h3>Advertising Incubator and Community Campaigns</h3> 
  <p>RelyLocal isn't meant to be a full replacement for all of your other marketing efforts, or memberships with business groups like the Chamber of Commerce. <em>(Heck, be reasonable - have you seen our <a href="#cost">minimal fees</a>?)</em> We like to think of ourselves as an advertising incubator, the one thing that every local business needs to be a part of to help drive their other advertising efforts - online and off. Use RelyLocal as a starter, and work your way into other (more expensive) advertising options. Here are a few of the details on what we offer our members...</p> 
  <blockquote> <strong><img src="http://www.relylocal.com/rely_images/badges/relylocal_logo.png" alt="" hspace="5" vspace="5" border="0" align="right" />RelyLocal.com</strong><br /> 
    Our web site is a small but integral piece of our entire local marketing         solution. You simply choose a category (or multiple) in which to  feature        your business listing and we'll take care of entering  all of your information;        company description, logo, location,  hours of operation, web address, email        - even, photos,  banner ads and links to your Blog, Facebook, or        Twitter pages!  Our first goal is to drive traffic to your business - online        or  off. As a result, some customers will find what they need about your         business directly on our site, while other customers will continue  on to        your site to get even more information.
    </p> 
    <p><strong><img src="http://www.relylocal.com/rely_images/online.jpg" hspace="5" border="0" align="right" />Search Engine Results (Organic)</strong><br /> 
      While our #1 goal isn't necessarily to get your business on &quot;page one&quot; at Google <em>(please consider our minimal costs)</em> -  it DOES happen all the time! In addition to the new customers you will gain directly from  RelyLocal.com,        you will also begin to see increased traffic and  exposure on many other        search engines and directories. With  things like meta keywords and even        the content on your page  becoming less relevant to search engines (because        it can be  manipulated), your site being featured on trusted sites like  RelyLocal.com        will help to increase your search engine rankings.  We will also consult        with you to make sure you are getting the  most out of your listings on sites        like Google Maps and MSN  Local.</p> 
    <p><strong>Social Media Ambassadors</strong><br /> 
    <strong><img src="http://www.relylocal.com/rely_images/facebook.jpg" alt="" hspace="5" vspace="3" border="0" align="right" /></strong><strong><img src="http://www.relylocal.com/rely_images/twitter.jpg" alt="" hspace="5" vspace="3" border="0" align="right" /></strong>Let us be your online ambassador - connecting you with our ever-growing  network of &quot;Loyal Locals&quot; on Facebook and Twitter. Imagine - the next time  you  are holding a special event or offering a special promotion, you  can reach hundreds  (if not thousands) of qualified local customers with your message every time we make a post on your behalf...  Instantly! <em>(Try that with legacy marketing methods!</em>) Plus, we keep things fun - with quizzes, contests, and giveaways designed to increase our fan base, while generating new exposure for your business in new markets!</p> 
    <p><strong>Co-Op Local Advertising</strong><br /> 
      If you have been in business long, you realize that without advertising,  you'll          never survive. You also realize that most advertising  is extremely expensive          and difficult to justify on your bottom  line. Let us compliment your current          advertising plans and  reach new audiences that you never thought you could          afford. We  pool the funds of active members in order to advertise with           newspapers, billboards, television, and radio - even sponsoring local           events. As an example, for a typical 60-second tv or radio spot,  we will          spend 30 seconds explaining what the RelyLocal campaign is all about, and  how customers can          support local business. The second half  of the ad will           feature specific  RelyLocal members who helped to underwrite the ads.          Each newspaper ad will  feature the latest new members. Each billboard          will play up  the grass-roots community feel while highlighting several           members! All for a fraction of the cost of &quot;going it alone&quot;...</p> 
    <p><strong><img src="http://www.relylocal.com/rely_images/organizer/oregon/bend/coupon.jpg" alt="" hspace="5" vspace="5" border="0" align="right" />Local Coupon Marketing</strong><br /> 
      Coupons mailings can be very effective, but are also very expensive  considering the ROI. While they do hit a lot of households, not everyone  needs a muffler or likes Chinese food. As part of your normal  membership, you may feature up to three coupons each month (you choose the expiration dates) for  customers to  print and use at your location. As we continie to grow, we will  also insert &quot;highlight coupons&quot; in  the major  mailings in the area to showcase all of the coupons available  at RelyLocal.com. This is a great incentive to entice new customers.  Best of all, it's all included as part of your <a href="#cost">regular membership</a>! </p> 
    <p><strong><img src="http://www.relylocal.com/rely_images/CafePress.jpg" alt="" width="120" height="166" hspace="5" vspace="5" border="0" align="right" /><%=@territory.blank? ? "Your Territory" : @territory.name%> Community Campaign</strong><br /> 
      While we provide businesses and loyal locals with window decals, bumper  stickers, and t-shirts - it is about much more than just that  &quot;warm-and-fuzzy&quot; feeling. These tools are a small but very deliberate  part of building an effective grass-roots campaign to support local  business. It is our way of making RelyLocal the new &quot;Good Housekeeping  Seal of Approval&quot; for local businesses in the <%=@territory.blank? ? "your area" : @territory.name%> area. </p> 
    <p><strong>Your Role - Our Partner!</strong><br /> 
    RelyLocal isn't just about what we can do for you, it's about what you can do for your community. At least 90% of your membership dues stay in the area to help grow our community campaign to reunite local customers with their local businessses. We don't view our business members and web users as clients and customers, we view them as partners! Get involved, make a minimal investment in <%=@territory.blank? ? "your area" : @territory.name%>, and you'll receive a lot more in return than just more clicks to your web site. We are here to help!</p> 
  </blockquote> 
  <h3>The Most Cost-Effective Marketing in <%=@territory.blank? ? "Your Territory" : @territory.name%></h3> 
  <table border="0" cellspacing="10" cellpadding="5" width="80%" align="center"> 
    <tbody> 
      <tr> 
        <td width="19%" align="center" valign="middle" nowrap="nowrap" bgcolor="#e6e3e3"><strong>Yellow Pages</strong></td> 
        <td width="81%" valign="middle" bgcolor="#e6e3e3">From <strong>$500-$25,000</strong> per year, per publisher <br /> 
          <em>depending on type of ad</em></td> 
      </tr> 
      <tr> 
        <td align="center" valign="middle" nowrap="nowrap" bgcolor="#e6e3e3"><strong>Billboards</strong></td> 
        <td valign="middle" bgcolor="#e6e3e3">Typical minimum investment of <strong>$4,350</strong> <br /> 
          <em>production, minimum 3 months</em></td> 
      </tr> 
      <tr> 
        <td align="center" valign="middle" nowrap="nowrap" bgcolor="#e6e3e3"><strong>Newspaper</strong></td> 
        <td valign="middle" bgcolor="#e6e3e3">An average of <strong>$380 </strong>for a one-time, 1/4 page ad</td> 
      </tr> 
      <tr> 
        <td align="center" valign="middle" nowrap="nowrap" bgcolor="#e6e3e3"><strong>Coupon Mailings</strong></td> 
        <td valign="middle" bgcolor="#e6e3e3">Between <strong>$200-$900</strong> per month <br /> 
          <em>Coupon Saver, ValuPak, FamilySaver</em></td> 
      </tr> 
      <tr> 
        <td align="center" valign="middle" nowrap="nowrap" bgcolor="#e6e3e3"><strong>Television Ads</strong></td> 
        <td valign="middle" bgcolor="#e6e3e3"><strong>$350-$400</strong> for one 30-second spot during prime time <br /> 
          <em>not including production cost</em></td> 
      </tr> 
      <tr> 
        <td align="center" valign="middle" nowrap="nowrap" bgcolor="#e6e3e3"><strong>Radio Ads</strong></td> 
        <td valign="middle" bgcolor="#e6e3e3"><strong>$50-$150</strong> for one 30-second spot during drive time</td> 
      </tr> 
      <tr> 
        <td align="center" valign="middle" nowrap="nowrap" bgcolor="#e6e3e3"><strong>eMarketing</strong></td> 
        <td valign="middle" bgcolor="#e6e3e3">From <strong>$200-$1,200+</strong> per month for ongoing SEO, ad management, etc...</td> 
      </tr> 
      <tr> 
        <td align="center" valign="middle" nowrap="nowrap" bgcolor="#c7d9fd"><font color="#ff0000"><strong><a name="cost" id="cost"></a>RelyLocal<br /> 
          Campaign</strong></font></td> 
        <td valign="middle" bgcolor="#c7d9fd"><font color="#ff0000"><strong>ONLY $25 PER MONTH!</strong></font> <br /> 
          Gain new local exposure in all of the outlets above for about <strong>half the cost</strong> of a single 30-second radio        spot! <em>(Co-op opportunities are on a first-come, first-served basis...)</em></td> 
      </tr> 
    </tbody> 
  </table> 
  <h3>Your Problems, RelyLocal's Solutions</h3> 
  <p><strong>Problem #1: </strong>Sure, most small local businesses can’t afford the thousands         of dollars needed each month to advertise with newspapers, coupon  packs,        billboards, tv, radio - let alone hiring an internet  marketing firm or find        time to spend on social networking! How  can they possibly compete with national        chains or established  competitors?</p> 
  <blockquote> 
    <p><strong>Solution:</strong> RelyLocal is much  more than just another online business directory and community campaign! Think of us as  your co-op advertising agency, internet marketing firm, and part time sales staff - repping you in the community all day, every day.</p> 
  </blockquote> 
  <p><strong>Problem #2:</strong> Many businesses already have a good  web site, but nobody really uses it. They spend precious time and         money for ongoing design, SEO, and expensive advertising that appears  to        produce no tangible results. Other businesses don't have a web  presence        at all, but know that they are losing customers as a  result.</p> 
  <blockquote> 
    <p><strong>Solution:</strong> If potential customers  can’t find your web site        or listings, they aren't likely to find  your physical location, either. We not only        bring you new, highly  qualified traffic directly from your listing on RelyLocal.com,         but we also feed the search engines and other directories, increasing  your        overall online  exposure and organic (free) rankings. </p> 
  </blockquote> 
  <p>If you are a local business owner who would like to partner with RelyLocal, just <%if @territory%><a href="<%=territory_contact_us_path(@territory)%>">get in touch</a> or <%end%><a href="<%=@territory.blank? ? '/page/advertise-with-us' : territory_advertise_with_us_path(@territory)%>">apply today</a>! We'd love to meet with you and figure out evern more ways that we can help your business!</p> 
</div>